main > .container {
    padding: 60px 15px 0px;
}

.footer {
    background-color: #343A40;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.error-background-image {
    background-color: #FFFFFF;
    background-image: url(https://dka575ofm4ao0.cloudfront.net/assets/better_error_pages/templates/background/background-e1d28eee7cab6e890134c7271be33d66.png) !important;
}

